header ul li{
	display:inline-block;
	padding:1em 3em;
	text-align:center;
	color:black;
}
header ul li a{
	color:black;
	text-decoration: blink;
	font-family: 'Nunito', sans-serif;
	font-size:150%;
}

header{
	text-align:center;
}	
