header ul li{
	display:inline-block;
	padding:1em 2em;
	text-align:center;
	color:black;
}
header ul li a{
	color:black;
	text-decoration: blink;
	font-family: 'Nunito', sans-serif;
	font-size:120%;
}

header{
	text-align:center;
}	

@media screen and (max-width:500px){
	header{
		display:none;
	}
}	

.madobe{
	text-align:center;
	font-size:200%;
	font-family: 'Ubuntu', sans-serif;
}	
.about{
text-align:center;
font-family: 'Nunito', sans-serif;
}	

.about p{
font-family: 'M PLUS Rounded 1c', sans-serif;
 display:inline-block;
 vertical-align:top; /*縦方向の揃え位置を指定*/

}	
